@font-face{
    font-family: 'Love Light';
    src: url('lovelight.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.hello{
    color:red;
    font-family: 'Love Light';
    font-size: 100px;
}